<div class="container">
  <h3>
    Angular Jira Clone Part 06 & 07 - Build a markdown text editor / rich text
    editor with Angular
  </h3>
  <br />
  <a
    href="https://trungk18.com/experience/angular-jira-clone-tutorial-06-angular-markdown-text-editor/"
  >
    https://trungk18.com/experience/angular-jira-clone-tutorial-06-angular-markdown-text-editor/
  </a>
  <div class="mb-4"></div>

  <h3>Markdown Editor</h3>
  <h4>1. Standalone</h4>
  <markdown-editor></markdown-editor>
  <div class="mb-4"></div>

  <h4>2. Inside a Form</h4>
  <form [formGroup]="markdownForm">
    <div class="form-group">
      <label for="Title">Title</label>
      <input
        formControlName="title"
        class="form-control"
        id="Title"
        aria-describedby="Title"
      />
    </div>
    <div class="form-group">
      <label>Description</label>
      <markdown-editor [control]="descriptionRawControl"></markdown-editor>
    </div>
  </form>
  <div class="alert alert-info">
    {{ markdownForm.value | json }}
  </div>
</div>
